@import "src/assets/styles/mixins";

.save-modal {
  @include modalMX;

  &__button {
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 5px;
    cursor: pointer;

    &_yes {
      background-color: forestgreen;
    }

    &_no {
      background-color: crimson;
    }
  }
}