@import "src/assets/styles/media";

.extra-parameters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and ($small-desktop) {
      flex-direction: row;
      width: 100%;
    }
  }

  &__indicator {
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100%;
  }
}