.basic-parameters {
  &__fieldset {
    display: flex;
  }

  &__label {
    text-transform: uppercase;
    color: red;
  }

  &__input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid yellow;
    background-color: black;
    color: green;
    font-style: italic;
    font-size: 28px;
    font-weight: bold;

    &:focus {
      outline: none;
      border: 1px solid darkorange;
    }
  }

  &__numeric {
    display: flex;
  }
}