.basic-parameters {
  position: sticky;
  top: 15px;

  &__game-control {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__btn {
    padding: 5px;
    border: none;

    &_save {
      background-color: cadetblue;
    }

    &_load {
      background-color: cornflowerblue;
    }
  }

  &__get-damage {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__get-damage-btn {
    padding: 3rem;
    background-color: crimson;
    border: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    outline: none;
  }

  &__fieldset {
    display: flex;
  }

  &__label {
    text-transform: uppercase;
    color: red;
  }

  &__input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid yellow;
    background-color: black;
    color: green;
    font-style: italic;
    font-size: 28px;
    font-weight: bold;

    &:focus {
      outline: none;
      border: 1px solid darkorange;
    }
  }

  &__numeric {
    display: flex;
  }
}